<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuxiaor.flutter.g_faraday_example">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="Faraday"
        android:allowBackup="false">

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="native_page_first"
                    android:scheme="native" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.FragActivity" android:theme="@style/FragTheme" />
        <activity android:name=".activity.SingleTopFlutterActivity" android:launchMode="singleTop"/>
        <activity android:name=".activity.SingleTaskFlutterActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.splash.FirstFlutterActivity">
<!--            在这里你可以自定义 启动画面动画-->
            <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:resource="@mipmap/ic_launcher">
            </meta-data>
        </activity>
    </application>
</manifest>
