<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuxiaor.flutter.g_faraday_example">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Faraday"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <activity
            android:name=".activity.SingleTopFlutterActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SingleTaskFlutterActivity"
            android:launchMode="singleTask" />

        <activity android:name=".activity.splash.FirstFlutterActivity">

            <!-- 在这里你可以自定义 启动画面动画 -->
<!--            <meta-data-->
<!--                android:name="io.flutter.embedding.android.SplashScreenDrawable"-->
<!--                android:resource="@drawable/launch_background" />-->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/SplashTheme"
                />

        </activity>

        <activity android:name=".basic.FlutterToNativeActivity" />
        <activity android:name=".basic.Native2FlutterActivity" />
        <activity android:name=".basic.TabContainerActivity" />

        <activity android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".basic.TransparentBackgroundFlutterActivity" android:theme="@style/TransparentActivityTheme"/>
    </application>

</manifest>