# This is a basic workflow to help you get started with Actions

name: Publish Plugin

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    tags:
      - v*

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: Publish Dart/Flutter package
        # You may pin to the exact commit or the version.
        # uses: sakebook/actions-flutter-pub-publisher@7112915a1a834881d4c98ef7af12f3456e5c79c7
        uses: sakebook/actions-flutter-pub-publisher@v1.3.1
        with:
            # Google Account credential
            credential: ${{ secrets.PUB_PUBLISHER_CREDENTIAL_JSON }}
            # (Optional) Publish packages type. (default: true)
            flutter_package: true
            # (Optional) Skip test (default: false)
            skip_test: true
            # (Optional) Dry run, no publish (default: false)
            dry_run: true
